@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --link-color: #757575;
  --title-color: #212121;
  --text-color: #757575;
  --background-color: #ffffff;
  --brand-color: #2196f3;
  --text-font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  font-weight: 700;
  color: #212121;
}

body {
  color: #212121;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42em;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);
  color: var(--title-color);
}

ul {
  list-style: none;
}

.first-word-navbar,
.second-word-navbar,
.third-word-navbar {
  text-decoration: none;
}

.nav-bar {
  border: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 10px;
}

.first-word-navbar:hover,
.first-word-navbar:focus {
  color: #2196f3;
}

.first-word-navbar {
  color: #2196f3;
}

.contacts:hover,
.first-word-navbar:hover,
.second-word-navbar:hover,
.third-word-navbar:hover,
.contacts:focus,
.first-word-navbar:focus,
.third-word-navbar:focus,
.second-word-navbar:focus {
  color: var(--brand-color);
}

.header-contacts__website {
  color: #2196f3;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header-contacts__phonenumber {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.second-word-navbar {
  color: black;
  text-decoration: none;
}

.third-word-navbar {
  color: #000;
}
.header-logo {
  border: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo,
.menu-top-container,
.first-word-navbar,
.second-word-navbar,
.third-word-navbar,
.header-contacts,
.About-us-section,
.our-team-section,
.button-bar,
.projects-list > ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.About-us-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 3%;
}

.About-us-section__description {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 3%;
}

.what-we-do-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*.three-images,*/
.our-team-section {
  padding: 30px;
  margin-left: 45px;
}

.three-images {
  display: flex;
  box-sizing: content-box;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: calc((100%-30px) / 3);
  height: 404px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
}

.background-team {
  background-color: rgba(245, 244, 250, 1);
  width: 1600px;
  height: 648px;
  flex-shrink: 0;
}

.title-what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 3%;
  padding-top: 90px;
  padding-left: 560px;
}

.our-team-section {
  color: var(--title-color);
}

.our-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}

.our-team-departmant {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  text-align: center;
}

.image-description {
  color: #212121;
  font-family: Roboto "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 11200px;
  line-height: 36px;
  letter-spacing: 1.08px;
  display: flex;
  width: 322px;
  flex-direction: column;
  flex-shrink: 0;
}

.paragraph-layout {
  color: #757575;
  font-family: Roboto "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 6400px;
  line-height: 30px;
  letter-spacing: 0.48px;
  display: flex;
  width: 322px;
  flex-direction: column;
  flex-shrink: 0;
}

.button-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: var(--background-color);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f5f4fa;
  color: var(--title-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}

.button button-one__all {
  width: 64px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
}

.button-one__all {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 38px;
  flex-shrink: 0;
}

.button-bar-focus {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-two {
  width: 120px;
  height: 38px;
  flex-shrink: 0;
}

.button-three {
  width: 83px;
  height: 38px;
  flex-shrink: 0;
}

.button-four {
  width: 96px;
  height: 38px;
  flex-shrink: 0;
}

.button-five {
  width: 121px;
  height: 38px;
}

div {
  display: block;
}

.nine-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  box-shadow: 0px 0px 0px 1px #eee inset;
  margin-bottom: 30px;
}

.nine-cards {
  border: 1px solid #eee;
  display: flex;
  text-align: left;
}

.nine-cards li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.image-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.paragraph-layout {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.footer {
  background: #2f303a;
  width: 1600px;
  height: 251px;
  flex-shrink: 0;
  padding: 60px 60px 10px;
  display: flex;
  justify-content: flex-start;
}
.logo {
  padding-left: 35px;
}

.colored-word-studio {
  color: white;
}

.logo-second-color {
  color: var(--background-color);
}

.colored-word-1 {
  color: #2196f3;
  font-family: "Raleway", "sans-serif";
}

.colored-word-2 {
  color: white;
  font-family: "Raleway", "sans-serif";
}

.colored-word-1-2 {
  font-family: "Raleway", "sans-serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 11200px;
  line-height: normal;
  letter-spacing: 0.78px;
}

.email-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 6400px;
  line-height: normal;
  letter-spacing: 0.42px;
  display: flex;
  width: 231px;
  flex-direction: column;
  flex-shrink: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 251px;
}
.section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-left: 170px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 3%;
  list-style: none;
  display: flex;
}

.footer-address {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  display: flex;
}

.footer-address__location {
  color: var(--background-color);
  line-height: 1.18;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 207px;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: flex;
  width: 207px;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-address__contacts:hover,
.footer-address__contacts:focus {
  color: var(--brand-color);
}

.footer-address__location:hover,
.footer-address__location:focus {
  color: var(--brand-color);
}

.main-title-section {
  background: url("/images/Img-main-bg.jpg"), rgba(196, 196, 196, 1);
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
}

.main-title__discription {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  width: 696px;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.main-title__button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 6%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
  margin-left: 20px;
  margin-top: 15px;
}

.logo {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 3%;
  padding-left: 0px;
}

.logo-color {
  color: var(--brand-color);
}

.first-word-color {
  color: #2196f3;
}

.icons-list {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list .icon {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: rgba(175, 177, 184, 1);
}

.icons-list .icon svg {
  width: 20px;
  height: 20px;
}
.icons-list .icon:hover,
.icons-list .icon:focus {
  color: var(--brand-color);
}
.about-us-icons {
  background-color: rgba(245, 244, 250, 1);
  width: 270px;
  height: 120px;
  flex-shrink: 0;
}
.icon-about {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
}
.about-us-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-cutomers {
  /* background-color: rgb(31, 140, 236);*/
  display: flex;
  margin: 60px;
  justify-content: space-around;
}
/* border: solid #757575;
} */

.customer-icon {
  width: 106px;
  height: 60px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 2px;
}

/*
.section-customers-icon {
  background-color: #f36262;
}*/

.section-customers-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 25px;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* social-icons */

.icons-list-footer {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list-footer {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}

.icons-list-footer .icon-footer {
  width: 44px;
  height: 44px;
  background-color: #373841;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  color: rgba(255, 255, 255, 1);
}

.icons-list-footer .icon-footer svg {
  width: 20px;
  height: 20px;
}
.icons-list-footer .icon-footer:hover,
.icons-list-footer .icon-footer:focus {
  color: var(--brand-color);
}

.section-social-media {
  display: flex;
  margin: 15px;
  padding-left: 75px;
}
.find-us {
  color: white;
  margin-top: -34px;
}
.section-find {
  display: flex;
  justify-content: center;
}

.mail-icon {
  width: 15px;
  height: 15px;
  margin-top: 1px;
}
.mail-ico {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
